header{
    display:flex;
    background-color: white;
    color: black;
    justify-content: space-between;
}
nav ul{
    margin-left: 80px;
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}
nav ul li:hover{
    color: rgb(5, 0, 139);
}
nav button{
    margin-left: 20px;
    background-color: transparent;
    padding: 5px 15px;
    color: blue;
    border-radius:5px;
    cursor: pointer;
}
header h1{
    color: blue;
    padding: 0px 10px 0px 10px;
}
h1 span{
    color: black;
}
.intro{
    background-color: rgb(236, 209, 236);
    padding: 30px 100px;
}
.intro h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.intro h2{
    font-size: 30px;
    margin-bottom: 0;
}
h2 span{
    color: blue;
}
.shop{
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.Explore{
    background-color: transparent;
    color: blue;
    padding: 10px;
    cursor: pointer;
}
.image img{
    width: 100%;
    max-width: 450px;
}
.image{
    width: 45%;
    text-align: right;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 209, 236);
    padding: 30px;
}
.features h1{
    padding-left: 40%;
    margin: 0;
}
.products{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
    padding: 30px;
}
.card{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
}
.card img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.card button{
    background-color: blue;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.choose h1{
    text-align: center;
    margin-bottom: 30px;
}
.choose{
     background-color: #eef4ff;
}
.feature{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
}
.icon img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.content{
    text-align: left;
}
.customer{
    display: flex;

    padding: 25px;
}
.review{
    background-color: #b6c6e6;
    width: 650px;
    height: 250px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image1 img{
    width: 180px;
    height: auto;
}
.sign{
    background: blue;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
}
.login{
    background-color: rgb(226, 191, 197);
    width: 750px;
    height: 300px;
    padding-left: 15px;
    margin-left: 15px;
    border-radius: 10px;
}
.box-model input{
    display: block;
    width: 700px;
    padding: 10px;
}
.password{
    display: flex;
    justify-content: space-between;
    color: blue;
}
.password button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.password button:hover{
    background-color: rgb(35, 125, 235);
}